body {
  background: #3f3f3f !important;
  font-weight: 200;
  padding-bottom: 6rem;
  color: #fff;
}

.black-background {
    background: #2e2e2e; /* Old Browsers */
background: -webkit-linear-gradient(top,#2e2e2e,#3f3f3f); /*Safari 5.1-6*/
background: -o-linear-gradient(top,#2e2e2e,#3f3f3f); /*Opera 11.1-12*/
background: -moz-linear-gradient(top,#2e2e2e,#3f3f3f); /*Fx 3.6-15*/
background: linear-gradient(to bottom, #2e2e2e, #3f3f3f); /*Standard*/
}

.logo {
  width: 13em;
}

.sidebar {
  height: 100vh;
}

a {
    color: #6bbaa7 !important;
}

button {
    background-color: #6bbaa7;
}

button:hover {
    cursor: pointer;
}
