

html {
    position: relative;
    height: 100% !important;
    overflow-x: hidden;
}

body {
  background: #3f3f3f !important;
  font-weight: 200 !important;
  padding-bottom: 0;
  color: #fff !important;
  height: 100%;
}

.content {
    min-height: 91vh;
}

.full-content {
    margin-bottom: -73px;
}

h1 {
    font-weight: 200 !important;
}

h2 {
    font-weight: 200 !important;
}

h3 {
    margin-top: 0;
    padding-top: 0;
    font-weight: 100 !important;
}

h4 {
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}

hr {
    width: 75%;
    background-color: #6bbaa7;
}

.settings-info td {
    padding: 1rem;
}

.black-background {
    background: #2e2e2e; /* Old Browsers */
    background: -webkit-linear-gradient(top,#2e2e2e,#3f3f3f); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#2e2e2e,#3f3f3f); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#2e2e2e,#3f3f3f); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #2e2e2e, #3f3f3f); /*Standard*/
}

.black-background-transp {
    background: rgba(46,46,46,0.8);
}

.white-background {
    background: #efefef;
}

.white-background-transp {
    background-color: rgba(239,239,239,0.8);
}

.black-background-opposite {
    background: #2e2e2e; /* Old Browsers */
    background: -webkit-linear-gradient(bottom,#2e2e2e,#3f3f3f); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,#2e2e2e,#3f3f3f); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,#2e2e2e,#3f3f3f); /*Fx 3.6-15*/
    background: linear-gradient(to top, #2e2e2e, #3f3f3f); /*Standard*/
}

.white {
    color: #fff !important;
}

.white a {
    color: #fff !important;
}

.logo {
  width: 13em;
}

.logo-main {
    width: 12em;
}

.sidebar {
  height: 100vh;
  position: fixed !important;
  top: 0;
  background-color: rgba(45,45,45,0.8);
  z-index: 999;
  border-right: 2px solid rgba(22,22,22,0.1);
}

.dashboard {

}

a {
    color: #6bbaa7 !important;
}

a:hover {
    text-decoration: none !important;
}

button {
    background-color: #6bbaa7;
}

button:hover {
    cursor: pointer;
}

.center {
    text-align: center;
}

.col-centered {
    margin: 0 auto;
}

.margin-left-30 {
    margin-top: 3%;
    margin-left: 20%;
}

.hide {
    display: none;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	text-align: center;
}

.fileUpload p {
    color: #6bbaa7 !important;
    font-weight: 100;
    font-size: 1.2rem;
}

.fileUpload:hover p {
    text-decoration: underline;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	text-align: center;
}
.custom-span{ font-family: Arial; font-weight: bold;font-size: 100px; color: #6bbaa7;}
#uploadFile{border: none;margin-left: 10px; width: 200px;}
.custom-para{font-family: arial;font-weight: bold;font-size: 24px; color:#585858;}

.avatar {
    width: 15rem;
    height: 15rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 5px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.avatar-sm {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
}

.event {
    background-color: #2e2e2e;
    width: 100%;
    margin-top: 0rem;
    padding-top: 0;
}

.card {
    background-color: #2e2e2e !important;
    border: 0px;
    color: #fff;
}

.settings-card {
    width: 60%;
    padding: 2%;
    background-color: #2e2e2e;
    border-radius: 0.2rem;
    margin-bottom: 9rem;
}

.btn-primary {
    background-color: #6bbaa7 !important;
    border: 1px solid #6bbaa7 !important;
}

.btn-outline-primary {
    border-color: #6bbaa7 !important;
}

.btn-outline-primary:hover {
    background-color: #6bbaa7 !important;
    color: #fff !important;
}

.no-padding {
    padding: 0 !important;
}

.right-border {
    border-right: 4px solid #6bbaa7;
}

.dark-grey {
    background-color: #2e2e2e;
}

.blue_background {
    background-color: #6bbaa7 !important;
}

.blue-outline {
    border: 1px solid #6bbaa7 !important;
    color: #fff !important;
}

.blue-outline:hover {
    background-color: #6bbaa7 !important;
}

.blue-bottom {
    border-bottom: 2px solid #2f2f2f !important;
}

.no-highlight {
    color: #fff !important;
}

.no-highlight:hover {
    color: #6bbaa7 !important;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.calendar {
    width: 90%;
    margin-left: 5%;
}

.new-event-sidebar {
    width: 90% !important;
    margin-left: 5%;
}

footer {
    width: 100%;
    height: 3vh;
    margin-top: 0;
}

header {
    margin-left: -0.95rem;
    width: 100vw;
    background-color: #2d2d2d;
}

.login-card {
    background-color: #2e2e2e;
    padding: 3%;
    width: 50%;
    margin-top: 8%;
    margin-left: 25%;
    border-radius: 5px;
}

.register-card {
    background-color: #2e2e2e;
    padding: 3%;
    width: 70%;
    margin-left: 15%;
    border-radius: 5px;
    margin-top: 7%;
    margin-bottom: 3%;
}

.table-full {
    width: 100% !important;
    padding: 0 !important;
}

.table-full input {
    width: 100%;
}

.small-cal {
    font-size: 110%;
}

.side-hr {
    margin-top: 9px;
    width: 70%;
    height: 2px;
}

.sidebar-setting {
    display: inline-block;
    position: absolute;
    top: 6.95rem;
    left: 4.95rem;
    width: 10rem;
    height: 10rem;
    background: rgba(255,255,255,0.5);
    line-height: 10rem;
    vertical-align: middle;
    border-radius: 5px;
}

.sidebar-setting a {
    font-size: 3.5rem;
}

.card {
    border: 0px !important;
}

.edit-card {
    width: 40%;
    padding: 2%;
    background-color: #2e2e2e;
    border-radius: 0.2rem;
    margin-top: 5%;
    margin-left: 30%;
}

.down-circle {
    font-size: 2.5rem;
    position: absolute;
    top: 85vh;
    left: 50vw;
}

.head-twitter-icon {
    width: 3.2rem;
}

.head-social-icons {
    width: 2rem;
}

.head-links {
    font-size: 1.1rem;
}

.head-links:hover {
    text-decoration: underline;
}

.phrase {
    margin-top: 37vh;
    margin-left: 7vw;
}

.landing-phrase {
    color: #fff !important;
    font-weight: 300;
    font-size: 3.5rem;
    line-height: 5.3rem;
}

.landing-paragraph {
    font-size: 1.5rem;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.big-icons {
    font-size: 12rem;
    color: #6bbaa7 !important;
}

.big-icons-user {
    font-size: 10rem;
    color: #6bbaa7 !important;
}

.md-icon {
    font-size: 1.85rem;
    color: #6bbaa7 !important;
}

.screenshot {
    width: 100%;
}

.leader-checklist {
    font-size: 1.2rem;
}

.coming-soon {
    font-size: 1.5rem;
    font-style: italic;
    color: #ededed !important;
}

.iphone {
    width: 60%;
}

.thick {
    font-weight: 300 !important;
}

.splash-card-1 {
    position: absolute;
    width: 29%;
    height: 62%;
    left: 2.5vw;
    border-radius: 5px;
}

.sc1:hover {
    cursor: pointer;
}

.splash-card-2 {
    position: absolute;
    width: 29%;
    height: 62%;
    left: 36.5vw;
    border-radius: 5px;

}

.sc2:hover {
    cursor: pointer;
}

.splash-card-3 {
    position: absolute;
    width: 29%;
    height: 62%;
    left: 70.2vw;
    border-radius: 5px;

}

.sc3:hover {
    cursor: pointer;
}

.lighter {
    border: 1px solid #6bbaa7 !important;
}

.short {
    width: 40%;
}

.pointer {
    cursor: pointer;
}

.black {
    color: #2e2e2e !important;
}

.white-background {
    background-color: #efefef !important;
}

.feedback {
    position: fixed;
    top: 3%;
    left: 1%;
}

.all_events {
    position: fixed;
    bottom: 3%;
    left: 6.5%;
}

.top-login {

}
