html {
    position: relative;
    height: 100% !important;
}

body {
  background: #3f3f3f !important;
  font-weight: 200 !important;
  padding-bottom: 0;
  color: #fff !important;
  height: 100%;
}

.content {
    margin-top: 8%;
    min-height: 100%;
}

.full-content {
    margin-bottom: -73px;
}

h2 {
    font-weight: 200 !important;
}

h3 {
    margin-top: 0;
    padding-top: 0;
    font-weight: 100;
}

hr {
    width: 60%;
    background-color: #6bbaa7;
}

.settings-info td {
    padding: 1rem;
}

.black-background {
    background: #2e2e2e; /* Old Browsers */
    background: -webkit-linear-gradient(top,#2e2e2e,#3f3f3f); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#2e2e2e,#3f3f3f); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#2e2e2e,#3f3f3f); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #2e2e2e, #3f3f3f); /*Standard*/
}

.black-background-transp {
    background: rgba(46,46,46,0.8);
}

.white-background {
    background: #efefef;
}

.white-background-transp {
    background-color: rgba(239,239,239,0.8);
}

.black-background-opposite {
    background: #2e2e2e; /* Old Browsers */
    background: -webkit-linear-gradient(bottom,#2e2e2e,#3f3f3f); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,#2e2e2e,#3f3f3f); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,#2e2e2e,#3f3f3f); /*Fx 3.6-15*/
    background: linear-gradient(to top, #2e2e2e, #3f3f3f); /*Standard*/
}

.logo {
  width: 13em;
}

.logo-main {
    width: 15em;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

.sidebar {
  height: 100vh;
  position: fixed !important;
  top: 0;
  background-color: #2d2d2d;
  z-index: 999;
}

.dashboard {

}

a {
    color: #6bbaa7 !important;
}

a:hover {
    text-decoration: none !important;
}

button {
    background-color: #6bbaa7;
}

button:hover {
    cursor: pointer;
}

.center {
    text-align: center;
}

.margin-left-30 {
    margin-top: 3%;
    margin-left: 20%;
}

.hide {
    display: none;
}

.fileUpload {
	position: absolute;
	overflow: hidden;
    top: 2.85rem;
    left: 2rem;
	margin: 10px;
	background-color: rgba(214,214,214,0.5);
	height: 15rem;
	width: 15rem;
    border-radius: 50%;
	text-align: center;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100%;
	text-align: center;
}
.custom-span{ font-family: Arial; font-weight: bold;font-size: 100px; color: #6bbaa7;}
#uploadFile{border: none;margin-left: 10px; width: 200px;}
.custom-para{font-family: arial;font-weight: bold;font-size: 24px; color:#585858;}

.avatar {
    width: 15rem;
    height: 15rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 50%;
}

.avatar img {
    height: 100%;
}

.avatar-sm {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.event {
    background-color: #2e2e2e;
    width: 100%;
    margin-top: 0rem;
    padding-top: 0;
}

.card {
    background-color: #2e2e2e !important;
    border: 0px;
    color: #fff;
}

.settings-card {
    width: 60%;
    padding: 2%;
    background-color: #2e2e2e;
    border-radius: 0.2rem;
    margin-bottom: 9rem;
}

.btn-primary {
    background-color: #6bbaa7 !important;
    border: 1px solid #6bbaa7 !important;
}

.no-padding {
    padding: 0 !important;
}

.right-border {
    border-right: 4px solid #6bbaa7;
}

.blue-outline {
    border: 1px solid #6bbaa7 !important;
    color: #fff !important;
}

.blue-outline:hover {
    background-color: #6bbaa7 !important;
}

.blue-bottom {
    border-bottom: 2px solid #2f2f2f !important;
}

.no-highlight {
    color: #fff !important;
}

.no-highlight:hover {
    color: #6bbaa7 !important;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.calendar {
    width: 90%;
    margin-left: 5%;
}

.new-event-sidebar {
    width: 90% !important;
    margin-left: 5%;
}

footer {
    width: 100%;
    height: 73px;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    background-color: #3f3f3f;
}

.login-card {
    background-color: #2e2e2e;
    padding: 3%;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
}

.register-card {
    background-color: #2e2e2e;
    padding: 3%;
    width: 70%;
    margin-left: 15%;
    border-radius: 5px;
    margin-top: -3%;
    margin-bottom: 3%;
}

.table-full {
    width: 100% !important;
    padding: 0 !important;
}

.table-full input {
    width: 100%;
}
